.banner {
  display: block;
  position: relative;
  background-repeat: repeat;
  background-position: right;
}

.banner__info {
  background-color: black;
  color: white;
  padding-top: 10vh;
  height: 10vh;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 10vh;
  width: 300px;
  text-align: center;
  justify-content: center;
  flex-direction: column;
}

.banner__info > button {
  margin-top: 10px;
  background-color: #d12030;
  color: white;
  text-transform: inherit;
  font-weight: 600;
}

.banner__info > button:hover {
  color: #d12030;
  background-color: white;
}

.banner__searchButton {
  background-color: white !important;
  font-weight: 900 !important;
  text-transform: inherit !important;
  color: #d12030 !important;
}

.banner__search {
  display: flex;
  flex-direction: column;
}
